* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Seven Segment', sans-serif;
}

img {
    max-width: 100%;
}

.calculator-box {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.calculator-box > section {
    box-shadow: inset 5px 0px 10px rgb(208, 206, 206);
}

/* HEADER DELLA CALCOLATRICE*/
.header {
    background-color: rgb(238 238 238);
    border-radius: 10px 10px 0px 0px;
}

/* SCHERMO DELLA CALCOLATRICE */
.screen {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: end;
}

.screen .results {
    color: #09d297;
    font-size: 35px;
}

/* TASTI DELLA CALCOLATRICE */
.buttons {
    font-family: 'Michroma', sans-serif;
    justify-content: space-evenly;
    display: flex;
    margin: 10px;
    height: 300px;
}

.numbers-box{ 
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    flex-grow: 5;
    margin: 5px;
}

.operations-box {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    
}

/* SFONDO E COLORAZIONE TASTI */
.greyback {
    background-color: rgb(238 238 238);
}

.rounded {
    border-radius: 5px;
}

.number-button {
    background-color: lightgray;
    width: calc(100% / 3 - 10px);
    margin: 5px;
}

.orange-buttons {
    background-color: orange;
    width: 50px;
    margin: 5px;
}

.operation-button {
    background-color: rgb(118 168 176);
    width: 50px;
    margin: 5px;
}

.whitetext {
    color: white;
}

/* NUMERI */
.number {
    justify-content: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.number button {
    text-align: center;
    margin: 5px;
    padding: 15px 20px;
}

.number button:nth-child(10) {
    flex-grow: 1;
}

/* OPERAZIONI */
.operation {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.operation span {
    font-family: 'Michroma', sans-serif;
    text-align: center;
    padding: 10px;
}